.item {
  list-style: none;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.isStatusOnline {
  background-color: green;
}
.isStatusOffline {
  background-color: red;
}
